$au-flex-utilities-responsive: true;

@import "@appuniversum/ember-appuniversum/styles/a-settings";
@import "@appuniversum/ember-appuniversum/styles/a-tools";
@import "@appuniversum/ember-appuniversum/styles/a-generic";
@import "@appuniversum/ember-appuniversum/styles/a-elements";
@import "@appuniversum/ember-appuniversum/styles/a-objects";
@import "@appuniversum/ember-appuniversum/styles/a-components";
@import "@appuniversum/ember-appuniversum/styles/a-plugins";
@import "@appuniversum/ember-appuniversum/styles/a-utilities";

@import "shame";

.au-c-example {
  white-space: initial;
}
