@import "@appuniversum/ember-appuniversum/styles";

.page-bg {
  background-color: $au-page-bg;
}

.au-c-file-upload-disabled {
  * {
    color: var(--au-gray-700);
    text-decoration: none;
    pointer-events: none;
  }
}
.publication-link {
  display: flex;
  justify-content: center;
  line-break: anywhere;
}

.au-c-button {
  .au-c-link {
    text-decoration: none;
    font-weight: var(--au-medium);
    display: flex !important;
    width: 100%;
    justify-content: center;
  }
}

.au-c-accordion {
  .au-c-toolbar {
    border-bottom: var(--au-border) solid var(--au-divider-color);
    padding-bottom: calc(var(--au-border) * 3);

    .au-c-button.au-c-button--link,
    .au-c-icon {
      font-size: var(--au-h2);
      font-weight: var(--au-regular);
      text-decoration: none;
      color: var(--au-select-text-color);
    }
  }
}
