.au-c-app {
  height: auto !important;
  min-height: 100vh;

  .au-c-main-container__content {
    height: 100% !important;
  }
}

.gutter {
  gap: $au-unit-tiny;
}

.au-c-alert {
  overflow: hidden;

  .au-c-alert__content {
    width: 100%;
  }
}

.au-c-alert.au-c-alert--neutral {
  background-color: var(--au-white) !important;
}

.truncate-url {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.au-c-pill--whole {
  background-color: var(--au-blue-200) !important;
  border-color: var(--au-blue-900) !important;
  color: var(--au-blue-900);
}

.au-c-file-upload-disabled {
  * {
    color: var(--au-gray-700);
    text-decoration: none;
    pointer-events: none;
  }
}

.publication-link {
  display: flex;
  justify-content: center;
  line-break: anywhere;
  max-lines: 1;
  line-clamp: 1;
  text-overflow: ellipsis;
}

.au-c-button.au-c-button--secondary {
  .au-c-link {
    text-decoration: none;
    font-weight: var(--au-medium);
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

.tooltip {
  height: 100%;
  position: relative;
  display: flex;
  margin: auto 0;
  place-self: center center;
}

.tooltip .tooltip-text {
  cursor: pointer;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  visibility: hidden;
  width: 300px;
  background-color: var(--au-white);
  color: var(--au-gray-700);
  text-align: center;
  font-size: var(--au-base);
  line-height: var(--au-global-line-height);
  display: inline-flex;
  gap: 0.6rem;
  align-items: center;
  font-family: var(--au-font);
  font-weight: var(--au-medium);
  border: 0.1rem solid var(--vl-grey-50);
  border-radius: 0.6rem;
  min-height: 2.55rem;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.au-c-toolbar:hover .tooltip {
  display: inline-block;
  text-decoration: dotted underline;
}

.au-c-toolbar .tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.au-c-accordion {
  .au-c-toolbar {
    border-bottom: var(--au-border) solid var(--au-divider-color);
    padding-bottom: calc(var(--au-border) * 3);

    .au-c-button.au-c-button--link,
    .au-c-icon {
      font-size: var(--au-h2);
      font-weight: var(--au-regular);
      text-decoration: none;
      color: var(--au-select-text-color);
    }
  }
}

.au-c-main-container__content {
  height: 100% !important;
}

.au-u-max-width-1-1 {
  max-width: 100%;
}

.entry-container {
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
