<CustomAccordion data-test-class-collection @defaultOpen="true">
  <:toolbar>
    {{@collection.className}}
  </:toolbar>
  <:counts>{{@collection.count}}</:counts>
  <:content>
    {{#if this.tooManyDocuments}}
      <AuAlert @skin="warning">
        <section class="au-u-1-1 accordion-title au-u-flex au-u-flex--between">
          <p class="au-u-para">
            Deze publicatie bevat te veel documenten!
          </p>
        </section>
      </AuAlert>
    {{/if}}
    {{#each @collection.objects as |object index|}}
      <RecursiveEntry @subject={{object}} @index={{index}} />
    {{/each}}
  </:content>
</CustomAccordion>